In [1]:
print("hello world")#string

hello world

In [2]:
print("123")#integer/float #in inverted comaas it treated as string

123

In [3]:
print(123,"hello")#both

123 hello

In [ ]:
print(2.8)#float

In [4]:
type("hello")#to find data type?

str

In [5]:
type(123)

int

# Variables

In [6]:
name = "Arsalan"

In [7]:
print(name)#to call Arsalan

Arsalan

In [8]:
name = "KT boy"

In [10]:
print(name)#for over write

KT boy

In [11]:
id(name)

136163838304

In [17]:
number=5

In [18]:
print(number)

5

In [26]:
no_1=5
no_2=19

In [22]:
no_1+no_2

24

In [29]:
print("arsalan",123,456)#shift+tab give the function of command e.g print

arsalan 123 456

In [30]:
print("ths is our first class")
print("ths is 2nd line")

ths is our first class
ths is 2nd line

In [10]:
print("ths is our first class",end=" **")#to end= is used to continue line otherwise it will use \ln by default
print("ths is 2nd line")

ths is our first class **ths is 2nd line

# 18 may,2019

In [10]:
age=30
name = "Arsalan"
print("my name is " +name+ " and my age is"+str(age)) #this is one line #type casting

my name is Arsalan and my age is30

In [11]:
age=30
name = "Arsalan"
print("my name is " ,name, " and my age is",age)

my name is  Arsalan  and my age is 30

In [15]:
age=int(input("enter your age:")) #input on run time ,,#casting type
name=input ("your name:")
print("my name is " +name+ " and my age is "+str(age))

enter your age:11
your name:11223
my name is 11223 and my age is 11

In [18]:
age=int(input("enter your age:")) #to check type
type(age)

enter your age:22

int

# string formating using python's .format()

In [19]:
age=input("enter your age:")
name=input ("your name:")
print("my name is {} and my age is {}".format(name,age)) #{} called place holder

enter your age:22
your name:rc
my name is rc and my age is 22

In [20]:
age=input("enter your age:")
name=input ("your name:")
print("my name is {1} and my age is {0}".format(name,age)) #giving no. e.g 0 & 1 called indexing by default uses sequence

enter your age:32
your name:rc
my name is 32 and my age is rc

# string formating using python's f

In [21]:
print(f"my name is {name} and my age is {age}")

my name is rc and my age is 32

# Mathematic expression

In [24]:
4/2 #ansr come in float

2.0

In [25]:
print(10/3) #in float

3.3333333333333335

In [26]:
print(10//3) #convert in integer

3

In [27]:
10%3 #% give remainder

1

In [31]:
age=20
age=age+10 #increment
age

30

In [34]:
age=40
age+=10 #we also can do * / -
age

50

# if statement

In [35]:
10>12

False

In [36]:
10==10

True

In [37]:
10!=10 #not equal to

False

In [3]:
num1=input("enter num1")
num2=input("enter num2")
if num1>num2:
    print("if chal gya h")
else:
    print("else chl gya h")

enter num12
enter num23
else chl gya h

In [2]:
num=input("entr your no.") #even odd program
rem=int(num)%2
if rem==0:
    print("no. is even")
else:
    print("no. is odd")

entr your no.3
no. is odd

# else and elif statements

In [7]:
age=int(input("entr your age"))
ticket=input("do u have ticket")
if age>=18:
    print("age is valid")
    if ticket=="yes":
        print("ticket ok")
else:
    print("you can not entr")

entr your age22
do u have ticketno
age is valid

In [9]:
nic=input("do you have nic " )

if nic=="yes":
    print("nic ok")
    VI=input( "have name in voter list? ")    
    if VI=="yes":
        print("you are eligible")
    else:
        print("name is not inlisted")
else:
    print("not eligible")

do you have nic yes
nic ok
have name in voter list? yes
you are eligible

In [22]:
exp=input("do you have experience for this job " )

if exp=="yes":
    print("you are selected")
elif:
    sifarish=input("koi parchi h? ")
    if sifarish="yes"
        print("you are eligible")
    else:
        print("name is not inlisted")
else:
    print("not eligible")

SyntaxError: invalid syntax (<ipython-input-22-74bdb446d3d8>, line 5)

In [4]:
a=b=c=d=10 #all if will be excuted one by one
if a==b:
    print("hello ")
if b==c:
    print("hi")
if c==d:
    print("hola")

hello
hi
hola

In [16]:
x=input("entr no:  ")
a=b=c=d=0 #Nested if , next if depend on previous
if a<=b:
    print("hello ")
    if b>=c:
        print("hi")
        if c==d:
            print("hola")

entr no:  w
hello
hi
hola

# cnic_status=input("do u have a valid cnic  ")

In [24]:
cnic_status=input("do u have a valid cnic  ").lower() #if user type "YES" it will convert in "yes"
if cnic_status=="yes":
    print("come inside")
    name_in_list=input("is your name in voter list?")
    if name_in_list=="yes":
        print("you can cast vote")
    else:
        print("you can not caste vote")
else:
    print("you can not cast vote")

do u have a valid cnic  yes
come inside
is your name in voter list?yes
you can cast vote

# Logical operators :

In [ ]:
cnic_status=input("do u have a valid cnic  ").lower()
name_in_list=input("is your name in voter list? ").lower()
if (( cnic_status=="yes")and(name_in_list=="yes")):
    print("cast your vote")
else:
    print("u can't caste vote")

do u have a valid cnic  yes

In [23]:
marks=int(input("enter marks")) #& operator one condition true
grade=""
if marks>=90:
    grade="A+"
    print("your grade is ",grade)
elif marks>=80: 
    grade="A"
    print("your grade is ",grade)
elif marks>=70: 
    grade="B"
    print("your grade is ",grade)
elif marks>=60: 
    grade="C"
    print("your grade is ",grade)
else:
   
    print("sorry u r fail")

enter marks89
your grade is  A

In [1]:
char=input("enter word").lower()
if (char =="a" or char=="e" or char=="u" or char=="i" or char=="o"):
    print("the character is a vowel")
    
else:
    print("the character is a contant")

enter worde
the character is a vowel

# LIST chptr 13:

In [9]:
student1="pakistan" #list in python in other language called Array
student2="pakistan"
student3="pakistan" #its difficult to remembr to much variable 
#make a list
alist=["asad","ali","sad","waqas","zubair","qamar","oqais"]
len(alist)
alist[1]

'ali'

In [29]:
list2=["aple",1234,False,123.5] #list can hold multiple data types together
list2[1]

1234

In [30]:
list2[0]="oranges"
list2[0]

'oranges'

In [31]:
del list2[3] #delt value from list by given index
list2

['oranges', 1234, False]

In [35]:
list2.append(9) #.append adds value in the last

In [36]:
list2

['oranges', 1234, False, 9, 9, 9]

In [27]:
list2

['oranges', 1234, False]

In [30]:
list2.insert(1,"grapes") #insert values in the list

In [31]:
list2

['oranges', 'grapes', 1234, 'grapes', False]

# 1st june 2019

# Sorting

In [ ]:
alist=['orange','apple','banana','peach','cherry']

In [7]:
alist.remove('banana')

In [8]:
alist

['orange', 'apple', 'peach', 'cherry']

In [15]:
sortList=[23,45,89,4,7,3]
sortList.sort() #for acsencding order
sortList

[3, 4, 7, 23, 45, 89]

In [18]:
sortList.sort(reverse=True) #by default reverse false
sortList

[89, 45, 23, 7, 4, 3]

In [20]:
newlist=['hamza','ali','hussain','x','z']
newlist.sort()
newlist #sort by alphabate

['ali', 'hamza', 'hussain', 'x', 'z']

In [21]:
blist=['x','A','bc','Xy','z']
blist.sort() #by default capital letter come first
blist

['A', 'Xy', 'bc', 'x', 'z']

# pop

In [26]:
clist=[23,789,56,4,78,84]
x=clist.pop() #stores last variable of list '84' in any variable and can hold the value and return also delet
print(clist)

[23, 789, 56, 4, 78]

In [27]:
print(x)

84

In [28]:
y=clist.pop(2)
print(y)

56

In [1]:
blist=[12,13,14,15]
emptylist=[]

In [7]:
emptylist.append(blist.pop()) #take the value from one list and put in other list 
print(emptylist) #it will give error when list will become empty

IndexError: pop from empty list

In [139]:
a=[333,444,555,666,777,888,999]
b=[]

In [149]:
if len(a)!=0: #to save from crash program we have to stop program when list will become empty
    b.append(a.pop())
    print(a)
    print(b)
else:
    print("list is empty now cant not pop")

[]
[999, 888, 777, 666, 555, 444, 333]

# For copy

In [150]:
c=b #pass by reference

In [151]:
print(c)

[999, 888, 777, 666, 555, 444, 333]

In [152]:
del c[2]
c

[999, 888, 666, 555, 444, 333]

In [155]:
d=c.copy()
d

[999, 888, 666, 555, 444, 333]

In [132]:
del d[2]
d

# Slicing

In [156]:
d

[999, 888, 666, 555, 444, 333]

In [158]:
d[2]

666

In [157]:
d[1:4] #to get three values at a time e.g 888, 666, 555,
#the direction of slice is always from left to right

[888, 666, 555]

In [159]:
d[4:1] #it is always take from left to right index other wise give empty set

[]

In [162]:
d[1:4] #last value will not be consider because by default index (n-1)

[888, 666, 555]

In [165]:
d=[111,222,333,444,555,6666,7777,888,88]
d

[111, 222, 333, 444, 555, 6666, 7777, 888, 88]

In [166]:
d[1:8:2] #last wala 2 is used for gap

[222, 444, 6666, 888]

# Reverse indexing

In [171]:
#frwd index  0      1       2      3       4          5   
cities=["khi","quetta",'lhr','multan','peshawr','pindi','isl'] 
#index   -7     -6       -5     -4       -3       -2      -1

In [172]:
cities[6]

'isl'

In [173]:
cities[-1]

'isl'

In [175]:
cities[-4:-1]

['multan', 'peshawr', 'pindi']

In [176]:
cities[:5]

['khi', 'quetta', 'lhr', 'multan', 'peshawr']

In [177]:
cities[3:]

['multan', 'peshawr', 'pindi', 'isl']

In [178]:
#frwd index  0      1       2      3       4          5   
cities=["khi","quetta",'lhr','multan','peshawr','pindi','isl'] 
#index   -7     -6       -5     -4       -3       -2      -1

In [179]:
cities[-5:4]

['lhr', 'multan']

In [180]:
cities[-5:0] #always go left to right

[]